/*------------------------------------------------------------------------------------------------------------------------
 
 @package: Sadaka
 @author: Ouarmedia/Farouk BLALOU
 @version: 1.0
 
 --------------------------------------------------------------------------------------------------------------------- */


/* =============================================================================
  Base
========================================================================== */

body {
    font-family: "Open sans", sans-serif;
    color: #000;
}

h1,
h2,
h3,
h4 {
    font-family: "Dosis", sans-serif;
}

a {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}


/* =============================================================================
  Layout
========================================================================== */


/* Header 
================================= */

.navbar-static-top {
    margin: 0;
    border: 0;
    color: #000;
}

.navbar-top {
    background: #eee;
    font-size: 12px;
    padding: 3px 0;
}

.navbar-top .list-inline {
    margin-bottom: 0;
}

.navbar-top .header-contact li {
    margin-right: 15px;
}

.navbar-top .header-contact li .fa {
    margin-right: 5px;
}

.navbar-main {
    margin-bottom: 0;
    color: #000;
    background: #fff;
}

.navbar-main .navbar-brand {
    border-bottom: none !important;
}

.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
    background: none !important;
    color: #af1621;
    border-bottom: 2px solid #af1621;
}

.navbar-main .submenu {
    position: absolute;
    list-style: none;
    background: #5a622c;
    padding: 0;
    width: 150px;
    left: -35px;
    visibility: hidden;
    top: 85px;
    -moz-transition: all, 0.05s;
    -o-transition: all, 0.05s;
    -webkit-transition: all, 0.05s;
    transition: all, 0.05s;
}

.navbar-main .submenu li {
    border-top: 1px solid #68751d;
}

.navbar-main .submenu li:hover {
    background: #68751d;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.navbar-main .submenu li a {
    width: 100%;
    border-bottom: none;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    font-size: 16px;
}

.navbar-main li a {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
}

.navbar-main li:hover .submenu {
    top: 62px;
    visibility: visible;
    -moz-transition: all, 0.25s;
    -o-transition: all, 0.25s;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s;
}

.navbar-main .icon-bar {
    background: #af1621;
}


/* Home Slider 
================================= */

.carousel-home img {
    width: 100%;
}

.carousel-home .carousel-control {
    background: #af1621;
    height: 80px;
    width: 40px;
    top: 50%;
    margin-top: -40px;
    -moz-transition: width, 0.3s;
    -o-transition: width, 0.3s;
    -webkit-transition: width, 0.3s;
    transition: width, 0.3s;
}

.carousel-home .carousel-control .fa {
    font-size: 2.5em;
    padding-top: 12px;
}

.carousel-home .carousel-control:hover {
    width: 50px;
}

.carousel-home .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-home .carousel-title {
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-home .carousel-subtitle {
    font-size: 20px;
    /* text-transform: no; */
}

.carousel-home .btn {
    margin-top: 30px;
}

.section-home {
    margin: 30px 0;
}


/* home/Presentation 
================================= */

.presentation {
    margin: 50px 0;
}

.presentation-logo {
    max-height: 300px;
}

.presentation-logo img {
    height: 100%;
    width: 100%;
}


/* home/ about-us 
================================= */

.about-us {
    margin: 30px 0;
}

.about-us-col {
    height: 325px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    background-color: #af1621;
    /* background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); */
    background-size: 100%;
    background-image: -moz-linear-gradient( 290deg, #af1621 -25%, #b2343c 50%, #af1621 125%);
    background-image: -webkit-linear-gradient( 290deg, #af1621 -25%, #b2343c 50%, #af1621 125%);
    background-image: linear-gradient( 290deg, #af1621 -25%, #b2343c 50%, #af1621 125%);
    color: #fff;
}

.about-us-col .col-icon-wrapper {
    min-height: 80px;
}

.about-us-col .col-title {
    text-transform: uppercase;
}

.about-us-col .col-details {
    text-align: left;
    margin-bottom: 25px;
    min-height: 80px;
}

.about-list {
    padding: 5px 20px;
}

.about-list li {
    list-style-type: square;
}


/* home/reasons 
================================= */

.home-reasons {
    margin: 25px 0;
    border-radius: 10px;
}

.reasons-col {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.reasons-col img {
    width: 100%;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.reasons-col .reasons-titles {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(175, 22, 33, 0.8);
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    height: 125px;
    padding: 25px 0;
}

.reasons-col .reasons-title {
    font-weight: bold;
    padding: 0 10px;
}

.reasons-col .on-hover {
    position: absolute;
    top: 0;
    bottom: 125px;
    width: 100%;
    padding: 25px;
    color: #fff;
    text-align: justify;
    background: rgba(175, 22, 33, 0.7);
    border-bottom: 1px solid #fff;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.reasons-col:hover .on-hover {
    visibility: visible;
    opacity: 1;
    padding: 50px;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    -webkit-transition: all, 1s;
    transition: all, 1s;
}

.reasons-col:hover img {
    -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
    transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}


/* home/causes
================================= */

.cause {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border: 1px solid #5a622c;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.cause .cause-progress {
    margin: 0 10px 15px;
    border: 1px solid #5a622c;
    border-radius: 3px;
}

.cause .cause-progress .progress-bar {
    background: #5a622c;
    box-shadow: none;
}

.cause .cause-img {
    margin-bottom: 15px;
    width: 100%;
}

.cause .cause-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.cause .cause-details {
    text-align: justify;
    padding: 0 15px;
    font-size: 13px;
    margin-bottom: 15px;
    min-height: 115px;
}

.cause:hover {
    background: #f0f0f0;
    color: #5a622c;
    border-color: #5a622c;
}


/* Program 
================================= */

.program {
    padding: 10px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.program:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease-in 200ms;
}

.program-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 15px 0;
    border-bottom: 1px dashed rgb(77, 76, 76);
}

.row-mt {
    grid-auto-rows: 1fr !important;
    margin-top: 30px;
}


/* Team 
================================= */

.team-member {
    background: #af1621;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #af1621;
}

.team-member .thumnail img {
    width: 100%;
}

.team-member .member-name {
    font-weight: bold;
}

.team-member .member-position {
    padding: 0 15px 5px;
}


/* footer 
================================= */

.footer-top {
    background: #8d161e;
    height: 40px;
}

.main-footer {
    background: #af1621;
    color: #fff;
}

.main-footer .footer-main {
    padding: 30px 0;
}

.main-footer .footer-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-footer .footer-title .title-under {
    background: #fff;
    margin: 15px 0;
    text-align: left;
}

.main-footer .footer-title .title-under:after {
    margin: 0;
    background: #fff;
}

.main-footer .footer-content {
    text-align: justify;
    font-size: 13px;
}

.main-footer .tweet {
    font-size: 13px;
}

.main-footer .tweet:after {
    content: "";
    height: 1px;
    display: block;
    background: #af1621;
    width: 150px;
    margin: 15px auto;
}

.main-footer .tweet:last-child:after {
    display: none;
}

.footer-bottom {
    background: #575e2f;
    padding: 3px;
}

.footer-form .form-group {
    margin-bottom: 5px;
}

.footer-form .form-control {
    background: #af1621;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    border: 1px solid #fff;
    resize: none;
}

.footer-form .btn-submit {
    border-radius: 0;
    background: #575e2f;
    text-transform: uppercase;
    border: 1px solid #fff;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.footer-form .btn-submit:hover {
    background: #fff;
}

.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder {
    color: #fff;
}

.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder {
    color: #fff;
}

.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
    color: #fff;
}

.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
    color: #fff;
}

.footer-links span {
    display: block;
    padding: 5px 0;
}

.footer-links span a:hover {
    font-weight: 600;
}

.owl-item {
    /* opacity: 0; */
    display: none;
}

.owl-item.active {
    /* opacity: 1; */
    display: inline;
}


/* Pages 
================================= */

.page-heading {
    background: url("../images/heading-bg.png?1428795369") no-repeat center;
    background-size: cover;
    min-height: 190px;
    color: #fff;
    padding: 25px 15px;
    margin-bottom: 50px;
}

.page-heading .title-under {
    background: #fff;
}

.page-description {
    font-size: 18px;
}

.main-container {
    margin-bottom: 50px;
}


/* Pages/Gallery 
================================= */

.gallery-item {
    padding: 0;
    display: block;
    margin: 0;
}

.gallery-item img {
    width: 100%;
}

.contact-items {
    margin-top: 30px;
}

.report-item {
    margin-bottom: 10px;
    position: relative;
}

.report-item a {
    display: none;
}

.report-item:hover>a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(91, 85, 85);
    font-weight: 800;
    font-size: 0.82em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    z-index: 10;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 24px;
    transition: all ease-in-out 300ms;
}

.report-item a:hover {
    text-decoration: none;
    color: #fff;
    transition: all ease-in-out 200ms;
}

.report-item iframe {
    border-radius: 5px;
    border: none;
}

.contact-items .contact-item {
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 16px;
}

.contact-items .contact-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #af1621;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
    text-align: center;
}

.contact-items .contact-icon .fa {
    vertical-align: sub;
    font-size: 20px;
    margin-top: 7px;
}


/* contact 
================================= */

.contact-map {
    height: 350px;
    background: #ccc;
}

form .alert {
    display: none;
}


/* Causes 
================================= */

.cause-carousel {
    margin-top: 15px;
    margin-bottom: 30px;
}


/* =============================================================================
	Module
========================================================================== */

.btn-primary {
    background: #575e2f;
    border: none;
    border-radius: 0;
    padding: 10px 25px;
    border: 1px solid transparent;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.btn-primary:hover {
    background: #fff;
    color: #5a622c;
    border: 1px solid #5a622c;
}

.btn-secondary {
    background: #fff;
    color: #af1621;
    font-weight: 800;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-secondary:hover {
    background: #af1621;
    color: #fff;
    transition: all ease-in-out 200ms;
}

.title-style-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 50px;
}

.title-style-2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 25px;
}

.title-style-2 .title-under {
    display: block;
    margin: 5px 0;
}

.title-style-2 .title-under:after {
    margin: 0;
    margin-top: 10px;
}

.title-under {
    display: block;
    margin: 5px auto;
    background: #5a622c;
    height: 1px;
    width: 280px;
}

.title-under:after {
    content: "";
    display: block;
    width: 100px;
    background: inherit;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
}


/* Modal
================================= */

.form-control {
    border-radius: 0;
    box-shadow: none;
}


/* Tabeles
================================= */

.table-style-1 thead {
    background: #5a622c;
    border-bottom: 1px solid #5a622c;
    color: #fff;
}

.table-style-1 td,
.table-style-1 th {
    border-bottom: 1px solid #5a622c;
}

.table-style-2 thead {
    background: #575e2f;
    border-bottom: 1px solid #5a622c;
    color: #fff;
}

.table-style-2 tbody tr:nth-child(even) {
    background: #5a622c;
    color: #fff;
}

.table-style-2 td,
.table-style-2 th {
    border-bottom: 1px solid #5a622c;
}


/* Tabs
================================= */

.nav-tabs {
    border-bottom-color: #5a622c;
    margin-bottom: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: transparent;
    color: #af1621;
    transition: all ease-in-out 200ms;
}

.nav-tabs>li>a {
    border-radius: 0;
}

.nav-tabs>li>a:hover {
    border-color: #5a622c #5a622c #5a622c #575e2f;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: #575e2f;
    color: #af1621;
    transition: all ease-in-out 200ms;
}


/* Accordion
================================= */

.panel-default {
    border-color: #5a622c;
    border-radius: 0;
}

.panel-default>.panel-heading {
    background: #5a622c;
    color: #fff;
}

.panel-default>.panel-heading:hover {
    background: #575e2f;
}


/* Modal
================================= */

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-header {
    background: #5a622c;
    color: #fff;
}

.modal .modal-header .close {
    font-style: 26px;
}

.lightbox {
    position: relative;
    display: block;
    overflow: hidden;
}

.lightbox img {
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.lightbox .on-hover {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    color: #fff;
    background: rgba(69, 76, 32, 0.75);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    -webkit-transition: all, 0.6s;
    transition: all, 0.6s;
}

.lightbox .on-hover .hover-caption {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 5px;
    right: 5px;
    font-style: 18px;
    display: block;
    font-family: "Dosis", sans-serif;
    bottom: -50px;
    -moz-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    -webkit-transition: all, 0.6s;
    transition: all, 0.6s;
}

.lightbox .on-hover:before {
    content: "";
    display: block;
    width: 46px;
    height: 48px;
    position: absolute;
    background: url("../images/icons/zoom-icon.png?1428101315");
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -24px;
}

.lightbox:hover .on-hover {
    visibility: visible;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.lightbox:hover .on-hover .hover-caption {
    bottom: 25px;
}

.lightbox:hover img {
    -moz-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
    -webkit-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
    transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
}


/* Ow carousel
================================= */

.owl-next,
.owl-prev {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    border: 2px solid;
    text-align: center;
    border-radius: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.owl-next:hover,
.owl-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.owl-next {
    left: auto;
    right: 0;
}


/* =============================================================================
	Responsive
========================================================================== */


/* Large devices (large desktops, 1200px and Down) */

@media (max-width: 1200px) {
    .about-us-col {
        padding: 15px;
    }
    .reasons-col:hover .on-hover {
        padding: 15px;
    }
    .reasons-col:hover .on-hover {
        padding: 25px;
    }
}


/* Medium devices (desktops, 992px and Donw) */

@media (max-width: 992px) {
    .carousel-home .carousel-title {
        font-size: 32px;
    }
    .carousel-home .carousel-subtitle {
        font-size: 13px;
    }
    .carousel-home .btn {
        margin-top: 15px;
    }
    .about-us-col {
        margin-bottom: 25px;
    }
    .team-member {
        margin-bottom: 25px;
    }
    .reasons-col {
        margin-bottom: 25px;
    }
    .footer-col {
        margin-bottom: 50px;
    }
}


/* Small devices (tablets, 768px and Down) */

@media (max-width: 768px) {
    .header-contact {
        text-align: center;
    }
    .header-contact li {
        margin: 0 !important;
    }
    .header-social {
        text-align: center;
    }
    .navbar-main #navbar {
        float: none !important;
    }
    .navbar-main #navbar a {
        border-bottom: none;
    }
    .navbar-main .navbar-brand {
        padding: 6px 15px;
    }
    .navbar-main .submenu {
        position: initial;
        display: none;
        width: 100%;
    }
    .navbar-main li:hover .submenu,
    .navbar-main li:active .submenu,
    .navbar-main li:focus .submenu {
        display: block;
    }
    .navbar-main li:hover .submenu li,
    .navbar-main li:active .submenu li,
    .navbar-main li:focus .submenu li {
        background: #575e2f;
        border-top-color: #5a622c;
    }
    .carousel-home .carousel-title {
        font-size: 28px;
    }
    .carousel-home .carousel-subtitle {
        font-size: 11px;
    }
    .carousel-home .carousel-control {
        background: #5a622c;
        height: 40px;
        width: 20px;
        top: 50%;
        margin-top: -20px;
    }
    .carousel-home .carousel-control .fa {
        font-size: 1.5em;
        padding-top: 4px;
    }
    .col-form {
        margin-bottom: 25px;
    }
}


/* Extra Small devices (tablets, 480px and Down) */

@media (max-width: 480px) {
    .carousel-home .carousel-title {
        font-size: 20px;
        margin: 0;
    }
    .carousel-home .carousel-subtitle {
        font-size: 9px;
        margin: 0;
    }
    .carousel-home .carousel-indicators {
        bottom: 0;
    }
}


/* =============================================================================
	Animations
========================================================================== */

.animate-onscroll {
    visibility: hidden;
}

.animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.animated.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}


/* Top's Styling */


/* Having a dashed border */

.article-section {
    width: 80%;
    /* padding: 40px 60px; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.article-section h2 {
    margin: 40px 0;
}

.dashed-border:before {
    bottom: -0px;
    content: "";
    left: -0px;
    position: absolute;
    right: -0px;
    top: -0px;
}

.dashed-first,
.dashed-second,
.dashed-third {
    border: 4px dashed rgba(175, 22, 33, 0.7);
    border-radius: 5px;
    color: rgba(175, 22, 33, 0.5);
    padding: 40px 20px;
    transition: 500ms;
}

.dashed-first:hover,
.dashed-second:hover,
.dashed-third:hover {
    border: 4px dashed rgba(175, 22, 33, 0.9);
    border-radius: 5px;
    color: rgba(175, 22, 33, 0.9);
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}


/* Working on each col */

.mission-col {
    box-shadow: 0px 0px 10px #fff;
    cursor: pointer;
    padding: 20px 0;
    position: relative;
    stroke: "black";
    stroke-width: "4";
    stroke-dasharray: "21%2c 14%2c 8";
    stroke-dashoffset: "0";
    stroke-linecap: square;
    transition: all 0.3s ease-in-out;
}

.mission-col h1 {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
}

.mission-grid {
    align-items: flex-start;
    color: #af1621;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.mission-col p {
    color: #3e3e3e;
}

.privacy {
    list-style: disc;
    margin-left: 20px;
}

.privacy-section {
    padding: 40px 0;
}


/* Orientation design */

*/ a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #af1621;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.in-about-wrapper {
    padding: 20px 0;
}

.in-about .about_icon i {
    background-color: #af1621;
    color: #fff;
}

.in-about p {
    font-size: 18px;
}

.in-about strong {
    color: #af1621;
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

.about-us-axes {
    padding: 30px;
    border-radius: 10px;
    background-color: #af1621;
    color: #fff;
    margin: 10px 0px 30px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}

.about-us-axes p {
    font-size: 15px;
}

.about-us-axes-secondary {
    padding: 40px;
}

.about-us-axes-secondary p {
    font-size: 15px;
    line-height: 25px;
}


/* Media query */

@media screen and (max-width: 768px) {
    .mission-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 576px) {
    .mission-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0 20px;
    }
}


/* Article Section
================================= */

.articles-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.related-articles-title {
    font-size: 2.28em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 30px;
}


/* Video Player
================================= */

.video-player h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

#player {
    padding: 10px;
    border-radius: 30px;
}

@media screen and (max-width: 576px) {
    #player {
        height: 300px;
    }
    .carousel-home .carousel-subtitle {
        display: none;
    }
    .carousel-home .carousel-title {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    #player {
        height: 400px;
    }
}

.err-message {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}

.err-message p {
    width: 60%;
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
}